/*Fonte da página*/

body{
    font-family: 'Russo One', sans-serif;
}

/*Css do main*/

.container-principal{
    padding: 30px 0;
    margin: 0 auto;
    width: 940px;
}

.container-principal h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.container-principal p{
    padding: 5px;
    text-align: center;
    font-size: 15px;
}
#foto-time{
    text-align: center;
    width: 940px;
    margin: 20px 0;
}
.container-uniforme{
    padding: 30px 0;
    margin: 0 auto;
    width: 940px;
}
.container-uniforme h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#uniforme-time{
    text-align: center;
    width: 940px;
    margin: 20px 0;
}

/*Css do cabeçalho*/

header{
    background-color:#323673;
    padding: 20px 0;
    height: 180px;
}
.cabecalho{
    width: 100%;
    position:relative;
    margin: 0 auto;
}
.container-logo{
    position: absolute;
    width: 180px;
    height: 180px;
}
#logo-time-header{
    width: 170px;
    height: 170px;
    display: inline-block;
    position: absolute; 
}
.container-titulo{
    color: white;
    display: inline-block;
    font-size: 45px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(60%,90%);
}
.nav-header{
    position: absolute;
    top: 180px;
    right: 20px;
}
.nav-header li{
    display: inline;
    margin: 0 0 0 20px;
}
.nav-header a{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav-header a:hover{
    color:orange;
}
.container-redes-header{
    position: absolute;
    top:0;
    right: 0;
    margin:0 20px 0 0;
}
h2{
    color: white;
    display: inline;
    padding-right: 5px;
}

#logo-instagram{
    width: 35px;
    position: relative;
    top: 10px;
}
/*css do rodapé*/

footer{
    background-color:#323673;
    padding: 20px 0;
    width: auto;
    height: 250px;
}
.rodape{
    width: 940px;
    position:relative;
    margin: 0 auto;
}
.titulo-rodape{
    display: inline-block;
    color: white;
    font-size: 20px;
}
.container-redes-footer{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    width: 33.33%;
    text-align: center;
}
#logo-instagram-footer{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 90px;
    padding: 10px 0;
}
.container-menu{
    display: inline-block;
    position: absolute;
    top:0;
    left: 33.3%;
    width: 33.33%;
    text-align: center;
}
.nav-footer ul{
    padding: 20px 0;
}
.nav-footer li{
    padding: 5px 0;
}
.nav-footer a{
    text-decoration: none;
    color: #cccccc;
    font-size: 18px;
}

.nav-footer a:hover{
    color: orange;
}
.container-localizacao{
    display: inline-block;
    position: absolute;
    top:0;
    left: 66.6%;
    width: 33.33%;
    text-align: center;
}
h4{
    padding: 25px 0;
    color: #CCCCCC;
    font-size: 18px;
}
#logo-time-footer{
    width: 90px;
    height: 90px;
}
.container-copyright{
    width: 940px;
    position: absolute;
    left: 0;
    top: 200px;
    text-align: center;
}

/*Css da página do elenco*/

.container-elenco{
    width: 960px;
    height: calc(4*290px);
    margin: 20px auto;
    position: relative;
}

.container-jogador1{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 280px;
    padding: 5px 10px;
}
.container-jogador2{
    position: absolute;
    top: 0;
    left: 33.3%;
    width: 30%;
    height: 280px;
    padding: 5px 10px;

}
.container-jogador3{
    position: absolute;
    top: 0;
    left: 66.6%;
    width: 30%;
    height: 280px;
    padding: 5px 10px;
}
.container-jogador4{
    position: absolute;
    top: 280px;
    left: 0;
    width: 30%;
    height: 280px;
    padding: 5px 10px;
}
.container-jogador5{
    position: absolute;
    top: 280px;
    left: 33.3%;
    width: 30%;
    height: 280px;
    padding: 5px 10px;
}
.container-jogador6{
    position: absolute;
    top: 280px;
    left: 66.6%;
    width: 30%;
    height: 280px;
    padding: 5px 10px;
}
.container-jogador7{
    position:absolute;
    top: 560px;
    left: 0;
    width: 30%;
    height: 280px;
}
.container-jogador8{
    position:absolute;
    top: 560px;
    left: 33.3%;
    width: 30%;
    height: 280px;
}
.container-jogador9{
    position:absolute;
    top: 560px;
    left: 66.6%;
    width: 30%;
    height: 280px;
}
.container-jogador10{
    position: absolute;
    top: 840px;
    left: 0;
    width: 30%;
    height: 280px;
}
.container-jogador11{
    position: absolute;
    top: 840px;
    left: 33.3%;
    width: 30%;
    height: 280px;
}
.container-foto{
    width: 100%;
    height: 220px;
}
.foto-jogador{
    width: 100%;
}
.nome-jogador{
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
}
.nome-jogador h2{
    color: #323673;
    display: inline;
}
.nome-jogador h3{
    color: orange;
    display: inline;
}